---
BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
AlignAfterOpenBracket: BlockIndent

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment

AllowAllArgumentsOnNextLine: true
BinPackArguments: false

AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false

PointerAlignment: Left
QualifierAlignment: Right

ShortNamespaceLines: 0

LambdaBodyIndentation: OuterScope